body {
  padding-top: 70px;
	color: #333333;
  font-family: 'Helvetica', sans-serif;
  font-size: 17px;
  line-height: 1.8 !important;
}
html {
	overflow-x: hidden;
}
h1,h2,h3,h4,h5,h6 {
	font-family: 'Helvetica', sans-serif;
	font-weight:200;
	color: #dc143c;
}

/* Navbar */
.navbar-fixed-top .nav {
  padding: 15px 0;
}
.navbar-fixed-top .navbar-brand {
  padding: 0 15px;
}
.navbar-brand img{
	max-height:50px;
}
.navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
  margin-left: 0px;
}
@media(min-width:768px) {
  body {
  padding-top: 200px; /* Required padding for .navbar-fixed-top. Change if height of navigation changes. */
    }
.navbar-fixed-top .navbar-brand {
  padding: 15px 0;
    }
}
.navbar-default {
  background-color: #f2f2f2;
  border-color: purple;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover {
  background-color: #dc143c;
  color: #333333;
}
.navbar-default .navbar-nav > li > a {
  color: #333333;
}
.navbar-default .navbar-nav > li > a:hover {
  color: #222222;
}




#share-buttons img {
  width: 50px;
  padding: 5px;
}
#share-buttons {
  text-align: center;
}
